body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:1000px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:30px;
  width:996px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:80px;
  width:170px;
  height:520px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:520px;
}
#u5 {
  position:absolute;
  left:2px;
  top:252px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:207px;
  top:110px;
  width:161px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:368px;
  top:107px;
  width:200px;
  height:22px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:177px;
  top:164px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:7px;
  top:2px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:94px;
  top:0px;
  width:152px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:7px;
  top:48px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:94px;
  top:46px;
  width:152px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:246px;
  top:2px;
  width:112px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:366px;
  top:0px;
  width:157px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:279px;
  top:48px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:366px;
  top:46px;
  width:157px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:580px;
  top:0px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:7px;
  top:2px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:94px;
  top:0px;
  width:152px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:7px;
  top:48px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:94px;
  top:46px;
  width:152px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:7px;
  top:94px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:94px;
  top:92px;
  width:152px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:7px;
  top:141px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:94px;
  top:139px;
  width:152px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:0px;
  top:187px;
  width:86px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:94px;
  top:185px;
  width:152px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:246px;
  top:2px;
  width:112px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:366px;
  top:0px;
  width:157px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:279px;
  top:48px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:366px;
  top:46px;
  width:157px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:279px;
  top:94px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:366px;
  top:92px;
  width:157px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  position:absolute;
  left:279px;
  top:140px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:366px;
  top:138px;
  width:157px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:279px;
  top:186px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:366px;
  top:184px;
  width:157px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:543px;
  top:2px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:631px;
  top:0px;
  width:152px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:543px;
  top:48px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:631px;
  top:46px;
  width:152px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:543px;
  top:94px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:631px;
  top:92px;
  width:152px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:543px;
  top:140px;
  width:79px;
  height:21px;
  font-size:18px;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:631px;
  top:138px;
  width:152px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:631px;
  top:182px;
  width:100px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:170px;
  top:620px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
